@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graphit&family=Roboto:wght@400;500;700&display=swap');

/* Root Variables */
:root {
    --primary-font: 'Graphit', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #214300;
    --secondary-color: #418301;
    --accent-color: #F5FD01;
    --black-color: #000000;
    --hover-color: var(--accent-color);
    --fs-1: 2.8rem;
    --fs-2: 1.8rem;
    --fs-3: 1.5rem;
    --fs-4: 1.2rem;
    --fw-500: 500;
    --fw-700: 700;
    --transition-1: 0.25s cubic-bezier(0.25, 0.1, 0.2, 1.04);
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    --radius-circle: 50%;
    --radius-15: 15px;
    --radius-12: 12px;
    --radius-10: 10px;
    --radius-6: 6px;
    --bg-gradient: linear-gradient(180deg, #418301 0%, #214300 100%);
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

.page-header {
    width: 100%;
    background: rgba(33, 67, 0, 1);

    background-image: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
    
    color:white;
    
    height: 166px;
    padding: 80px 400px 0px 38px;
    margin-block:20px;
    border-radius: 30px 30px 0px 0px;
    opacity: 0px;
    background-image: url('MLSCN-logo.png');
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: overlay;
    background-size: 240px;

}
.primary-font {
    font-family: var(--primary-font);
}


.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    border-bottom: 4px solid var(--accent-color);
    padding-inline: 12px;
    width: 100%;
}

.container{
    padding-top:60px
}
.fab {
    pointer-events: none;
}

div.content{
font-family: var(--primary-font);
font-size: 17px;
font-weight: 400;
line-height: 20.96px;
text-align: justified;
padding: 0 5px 20px 5px;
margin-block-end: 140px

}

div.content h3{

font-family: var(--primary-font);
font-size: 25px;
font-weight: 700;
line-height: 30.83px;
text-align: justified;

}

div.content p{

    padding-block:12px;
}

body > div > section > div > ul > li{

    margin-left: 28px;
}
